// MAIN WINDOW

@mixin main-window-heading {
  margin-bottom: 30px;
}

@mixin main-window-container {
  background-color: $clr--light-grey;
  min-height: 300px;
  border-radius: $border-radius--standard;
  padding: 20px;
}

// FLEX

@mixin displayFlex {
  display: flex;
}

@mixin flex($g, $s, $b) {
  flex: $g $s $b;
}

@mixin justifyContent($value: flex-start) {
  justify-content: $value;
}

@mixin alignItems($value: stretch) {
  align-items: $value;
}