// MAIN WINDOW
@mixin mainWindow {
  padding: 40px;
  @include flex(1, 1, auto);
}

@mixin mainWindowHeading {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
}

@mixin mainWindowContainer {
  background-color: $clr--lightGrey;
  width: 100%;
  border-radius: $borderRadius--standard;
  padding: 20px;
}

// FLEX
@mixin displayFlex {
  display: flex;
}

@mixin flex($g, $s, $b) {
  flex: $g $s $b;
}

@mixin justifyContent($value: flex-start) {
  justify-content: $value;
}

@mixin alignItems($value: flex-start) {
  align-items: $value;
}

@mixin flexDirection($value: row) {
  flex-direction: $value;
}

// MEDIA QUERIES
$xs: 550px;
$sm: 750px;
$md: 1000px;
$lg: 1500px;

@mixin screenSize($sizes...) {
  @for $i from 1 through length($sizes) {
    @include singleScreenSize(nth($sizes, $i)) {
      @content;
    }
  }
}

@mixin singleScreenSize($size: 'lg+') {
  @if $size == 'lg+' {
    @media only screen and (min-width: $lg + 1) {
      @content;
    }
  } @else if $size == 'lg' {
    @media only screen and (min-width: $md + 1) and (max-width: $lg) {
      @content;
    }
  } @else if $size == 'md' {
    @media only screen and (min-width: $sm + 1) and (max-width: $md) {
      @content;
    }
  } @else if $size == 'sm' {
    @media only screen and (min-width: $xs + 1) and (max-width: $sm) {
      @content;
    }
  } @else if $size == 'xs' {
    @media only screen and (max-width: $xs) {
      @content;
    }
  } 
}

// BORDER RADIUS
@mixin borderRadius($br: 0px) {
  border-radius: $br;
}

@mixin borderRadiusSpecified($tl: 0px, $tr: 0px, $br: 0px, $bl: 0px) {
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}