// MAIN WINDOW

@mixin main-window-heading {
  margin-bottom: 30px;
}

@mixin main-window-container {
  background-color: $clr--light-grey;
  min-height: 300px;
  border-radius: $border-radius--standard;
  padding: 20px;
}

// FLEX

@mixin displayFlex {
  display: flex;
}

@mixin flex($g, $s, $b) {
  flex: $g $s $b;
}

@mixin justifyContent($value: flex-start) {
  justify-content: $value;
}

@mixin alignItems($value: stretch) {
  align-items: $value;
}

// MEDIA QUERIES

$xs: 550px;
$sm: 750px;
$md: 1000px;
$lg: 1500px;

@mixin screenSize($sizes...) {
  @for $i from 1 through length($sizes) {
    @include singleScreenSize(nth($sizes, $i)) {
      @content;
    }
  }
}

@mixin singleScreenSize($size: 'lg+') {
  @if $size == 'lg+' {
    @media only screen and (min-width: $lg + 1) {
      @content;
    }
  } @else if $size == 'lg' {
    @media only screen and (min-width: $md + 1) and (max-width: $lg) {
      @content;
    }
  } @else if $size == 'md' {
    @media only screen and (min-width: $sm + 1) and (max-width: $md) {
      @content;
    }
  } @else if $size == 'sm' {
    @media only screen and (min-width: $xs + 1) and (max-width: $sm) {
      @content;
    }
  } @else if $size == 'xs' {
    @media only screen and (max-width: $xs) {
      @content;
    }
  } 
} 