$clr--primary: #FB8700;
$clr--primary--darker:  #c26700;
$clr--primary--light: #fde6cc;
$clr--darkNavy: #272830;
$clr--lightNavy: #3B3C46;
$clr--grey: #B0B0B0;
$clr--lightGrey: #EFEFEF;
$clr--darkGrey: #5f5f5f;
$clr--textGrey: #6d6d6d;
$clr--white: #FFFFFF;
$clr--black: #000000;
$clr--error: #FF2C2C;
$clr--errorBackground: #FFEAEA;
$clr--info: #2F90FF;
$clr--success: #2AB92A;
$clr--disabled: #a7a7a7;
$clr--sidebarHover: rgba(255, 255, 255, 0.2);

$ff--primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$fs--tiny: 12px;
$fs--small: 14px;
$fs--body: 16px;
$fs--medium: 18px;
$fs--large: 20px;
$fs--xl: 24px;
$fs--xxl: 28px;

$height--header: 60px;
// always must be vh minus header height
$height--mainPage: calc(100vh - 60px);
$height--input: 37px;

$width--sidebar: 250px;
$width--tableAction: 200px;

$padding--sidebarItems: 5px 15px;

$borderRadius--standard: 5px;

$boxShaddow--notification: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);

$transition--hover: background-color 0.7s;
