$clr--primary: #FB8700;
$clr--primary--darker:  #c26700;
$clr--darkNavy: #272830;
$clr--lightNavy: #3B3C46;
$clr--grey: #B0B0B0;
$clr--lightGrey: #EFEFEF;
$clr--white: #FFFFFF;
$clr--error: rgb(255, 44, 44);

$clr--text--grey: #6d6d6d;
$clr--text--error: rgb(255, 44, 44);

$clr--border--grey: 1px solid #B0B0B0;

$clr--background--error: rgb(255, 234, 234);
$clr--background--sidebarHover: rgba(255, 255, 255, 0.2);

$ff--primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$fs--tiny: 12px;
$fs--small: 14px;
$fs--body: 16px;
$fs--medium: 18px;
$fs--large: 20px;
$fs--xl: 24px;
$fs--xxl: 28px;

$height--header: 60px;
// always must be vh minus header height
$height--mainPage: calc(100vh - 60px);

$width--sidebar: 200px;
$width--tableAction: 200px;

$padding--sidebarItems: 5px 15px;

$borderRadius--small: 3px;
$borderRadius--standard: 5px;