.content {

  &__heading {
    @include main-window-heading;
  }

  &__container {
    @include main-window-container;
  }

  &__table-headings {
    display: flex;
    color: $clr--primary;
    margin-bottom: 50px;
  }

  &__table-heading {
    flex: 1;
  }

  &__item {
    display: flex;
    margin: 30px 0;
  }

  &__field {
    flex: 1;

    &--actions {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    color: $clr--primary;
    transform: scale(1.3);
    margin-right: 40px;
  }
}

