.sidebar {
  position: fixed;
  width: $width--sidebar;
  height: 100%;
  margin: $height--header 0;
  padding: 50px 0;
  background-color: $clr--light-navy;
  color: white;
}

.ct-menu, .users-menu {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 20px;
    padding: $padding--sidebar-items;
    color: $clr--grey;

    &--admin {
      cursor: pointer;

      &:hover {
        background-color: $bg--sidebar-hover;
      }
    }
  }

  // &__add-button {
  //   margin-left: 10px;
  //   color: $clr--primary;
  //   transform: scale(1.2);
  // }

  &__item {
    padding: $padding--sidebar-items;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
      background-color: $bg--sidebar-hover;
    }
  }
}