.SolidButton, .OutlineButton {
  padding: 0 30px;
  height: 40px;
  width: fit-content;
  display: inline-flex;
  @include justifyContent(center);
  @include alignItems(center);
  border-radius: $borderRadius--standard;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  transition: $transition--hover;
}

.SolidButton {
  border: none;
  background-color: $clr--primary;
  color: white;

  &:hover {
    background-color: $clr--primary--darker;
  }

  &--disabled {
    background-color: $clr--background--disabled;
    cursor: default;

    &:hover {
      background-color: $clr--background--disabled;
    }
  }
}

.OutlineButton {
  border: 2px solid $clr--primary;
  background-color: white;
  color: $clr--primary;

  &:hover {
    background-color: $clr--primary;
    color: white;
  }
}