.EditableTitle {

  @include displayFlex;
  @include alignItems(center);

  h3 {
    font-size: 18px;
    font-weight: 600;
  }

  input {
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
    font-family: inherit;

    border: none !important;
    padding: 0;
    height: unset;
    background-color: unset;
    width: fit-content;
    caret-color: $clr--primary;
  }

  &__editNameIcon {
    margin-left: 20px;
    color: $clr--primary;
    font-size: $fs--medium;
    cursor: pointer;
  }
}