.Modal {
  position: relative;
  height: 500px;
  width: 800px;
  background-color: $clr--white;
  @include borderRadius($borderRadius--standard);

  &__container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @include displayFlex;
    @include justifyContent(center);
    @include alignItems(center);
  }

  &__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $clr--black;
    opacity: 0.6;
  }

  &__content {
    @include displayFlex;
    @include flexDirection(column);
    height: 100%;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }

  &__header {
    padding: 15px 20px;
    border-bottom: 1px solid $clr--grey;
    font-size: $fs--large;
  }

  &__body {
    @include flex(1, 1, 0px);
    padding: 20px;
    overflow-y: auto;
  }

  &__bodyHeading {
    margin-bottom: 25px;
  }

  &__footer {
    padding: 15px 20px;
    border-top: 1px solid $clr--grey;
    @include displayFlex;
  }

  &__buttonContainer {
    width: 200px;
    margin-left: 20px;

    &:first-of-type {
      margin-left: 0;
    }

    .SolidButton, .OutlineButton, .DisabledButton {
      width: 100%;
    }
  }
}