.header {
  position: fixed;
  width: 100%;
  height: $height--header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr--dark-navy;
  color: white;
  padding: 0 50px;

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo-text {
    color: $clr--primary;
  }

  &__logo-img {
    height: 30px;
    width: auto;
    margin-left: 10px;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
}