.users {
  @include mainWindow;

  &__heading {
    @include mainWindowHeading;
  }

  &__container {
    @include mainWindowContainer;
  }

  .Table {
    &__heading,
    &__column {
      
      &:first-of-type {
        @include flex(2, 2, 0);
      }

      &--actions {
        width: 50px;
      }
    }

    &__column {

      &.userName {
        font-size: 18px;
        text-transform: capitalize;
      }
    }
  }

  &__addNewIcon {
    margin-top: 20px;
    font-size: 20px;
    color: $clr--primary;
    cursor: pointer;
  }
}

.newUserForm {

  &__addFieldIcon {
    margin-top: 20px;
    font-size: 20px;
    color: $clr--primary;
    cursor: pointer;
  }
}
