.Table {
  width: 100%;

  &__head {
    @include displayFlex;
    margin-bottom: 20px;
    color: $clr--primary;
    font-weight: 600;
  }

  &__heading {
    @include flex(1, 1, 0);
    padding-right: 40px;

    &--actions {
      @include flex(0, 0, auto);
      width: $width--tableAction;
    }
  }

  &__row {
    @include displayFlex;
    @include alignItems(center);
    padding: 7px 0;
  }

  &__column {
    @include flex(1, 1, 0);
    padding-right: 40px;

    &--actions {
      @include flex(0, 0, auto);
      @include displayFlex;
      @include justifyContent(flex-end);
      width: $width--tableAction;

      i {
        color: $clr--primary;
        margin-right: 30px;
        font-size: 18px;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          color: $clr--primary--darker;
        }
      }
    }
  }
}