.adminSetup {
  height: $height--mainPage;
  @include displayFlex;
  @include justifyContent(center);
  @include alignItems(center);
  padding: 50px 20px;

  @include screenSize('xs', 'sm') {
    padding: 30px 10px;
  }
}

.adminSetupForm {
  width: 400px;
  border: $clr--border--grey;
  border-radius: 3px;
  padding: 20px;

  &__heading {
    text-align: center;
    margin-bottom: 30px;
  }

  &__intro {
    margin-bottom: 20px;
  }
}