html {
  font-size: 16px;
  font-family: $ff--primary;
}

.mainPage {
  @include displayFlex;
  min-height: $height--mainPage;
}

ul {
  list-style: none;
}

// Form styles

@keyframes reveal {
  from {
    height: 0;
  }

  to {
    height: 35px;
  }
}

form {

  label {
    display: block;
    font-size: $fs--small;
    margin-bottom: 5px;
    color: $clr--textGrey;
  }
  
  input {
    display: block;
    width: 100%;
    height: $height--input;
    position: relative;
    border: 1px solid $clr--darkGrey;
    border-radius: $borderRadius--standard;
    padding: 0 10px;
    z-index: 1;

    &:focus {
      border: 1px solid $clr--primary;
    }
  }

  .SolidButton, .OutlineButton, .DisabledButton {
    width: 100%;
  }

  .form {

    &__hidden {
      display: none;
    }

    &__group {
      margin-bottom: 15px;
      position: relative;
    }

    &__error {
      margin-top: -10px;
      padding: 10px 10px 0 10px;
      height: 35px;
      @include displayFlex;
      @include alignItems(center);
      color: $clr--error;
      font-size: 13px;
      background-color: $clr--errorBackground;
      border-bottom-left-radius: $borderRadius--standard;
      border-bottom-right-radius: $borderRadius--standard;
      position: relative;
      animation: reveal 0.5s forwards;
      overflow: hidden;
    }

    &__select {
      display: block;
      width: 100%;
      height: $height--input;
      position: relative;
      z-index: 1;
      border: 1px solid $clr--darkGrey;
      border-radius: $borderRadius--standard;
      padding: 0 10px;
      @include displayFlex;
      @include justifyContent(space-between);
      @include alignItems(center);

      &--open {
        border: 1px solid $clr--primary;
      }
    }

    &__selectList {
      position: absolute;
      top: calc(100% + 5px);
      border: 1px solid $clr--primary;
      border-radius: $borderRadius--standard;
      width: 100%;
      background-color: $clr--white;
      z-index: 2;
      overflow: hidden;
    }

    &__selectOption {
      padding: 10px 8px;
      transition: $transition--hover;
      cursor: pointer;

      &:hover {
        background-color: $clr--primary--light;
      }
    }
  }
}