html {
  font-size: 16px;
  font-family: $ff--primary;
}

.mainLoaderContainer {
  height: $height--mainPage;
}

.mainPage {
  @include displayFlex;
  min-height: $height--mainPage;
}

ul {
  list-style: none;
}

// Form styles

@keyframes reveal {
  from {
    height: 0;
  }

  to {
    height: 35px;
  }
}

@mixin inputStyles {
  display: block;
  width: 100%;
  height: $height--input;
  position: relative;
  border: 1px solid $clr--darkGrey;
  border-radius: $borderRadius--standard;
  padding: 0 10px;
  z-index: 1;
  font-size: 14px;
  font-family: inherit;

  &:focus {
    border: 1px solid $clr--primary;
  }
}

form {

  label {
    display: block;
    font-size: $fs--small;
    margin-bottom: 5px;
    color: $clr--textGrey;
  }

  .form {

    &__hidden {
      display: none;
    }

    &__group {
      margin-bottom: 15px;
      position: relative;

      &--embedded {
        margin: 0;

        input {
          height: $height--input--embedded;
          padding: 0 8px;
        }

        &.form__group--select {
          width: 120px;
        }

        .form__select {
          height: $height--input--embedded;
          padding: 0;
          border: none;

          &--open {
            border: none;
          }
        }
      }

      &--checkbox {
        @include displayFlex;
        @include alignItems(center);
        cursor: pointer;
      }
    }

    &__error {
      margin-top: -10px;
      padding: 10px 10px 0 10px;
      height: 35px;
      @include displayFlex;
      @include alignItems(center);
      color: $clr--error;
      font-size: 13px;
      background-color: $clr--errorBackground;
      border-bottom-left-radius: $borderRadius--standard;
      border-bottom-right-radius: $borderRadius--standard;
      position: relative;
      animation: reveal 0.5s forwards;
      overflow: hidden;
    }

    &__input {
      @include inputStyles;
    }

    &__password {
      @include inputStyles;
    }

    &__select {
      display: block;
      width: 100%;
      height: $height--input;
      font-size: 14px;
      position: relative;
      z-index: 1;
      border: 1px solid $clr--darkGrey;
      border-radius: $borderRadius--standard;
      padding: 0 10px;
      @include displayFlex;
      @include justifyContent(space-between);
      @include alignItems(center);
      cursor: pointer;

      &--open {
        border: 1px solid $clr--primary;
      }
    }

    &__selectList {
      position: absolute;
      top: calc(100% + 5px);
      border: 1px solid $clr--primary;
      border-radius: $borderRadius--standard;
      width: 100%;
      background-color: $clr--white;
      z-index: 2;
      overflow: hidden;
    }

    &__selectOption {
      padding: 10px 8px;
      transition: $transition--hover;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: $clr--primary--light;
      }
    }

    &__checkbox {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border: 2px solid black;
      @include displayFlex;
      @include alignItems(center);
      @include justifyContent(center);

      &--checked {

        .form__checkboxInner {
          background-color: $clr--primary;
        }
      }
    }

    &__checkboxInner {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $clr--white;
      transition: $transition--checkbox;
    }

    &__checkboxLabel {
      color: unset;
      font-size: 14px;
      margin-left: 15px;
    }
  }
}