$clr--primary: #FB8700;
$clr--primary--darker:  #c26700;
$clr--dark-navy: #272830;
$clr--light-navy: #3B3C46;
$clr--grey: #B0B0B0;
$clr--light-grey: #EFEFEF;

$bg--sidebar-hover: rgba(255, 255, 255, 0.2);

$ff--primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$fs--tiny: 0.8rem;
$fs--small: 0.9rem;
$fs--body: 1rem;
$fs--medium: 1.1rem;
$fs--large: 1.3rem;
$fs--xl: 1.5rem;
$fs--xxl: 1.8rem;

$height--header: 60px;
$width--sidebar: 200px;

$padding--sidebar-items: 5px 15px;

$border-radius--standard: 5px;